<%= simple_form_for @project, :html => { :class => 'form-horizontal', :multipart => true } do |f| %>
  <fieldset>
    <%= f.input :title %>
    <%= f.input :description %>
    <%= f.input :start_date %>
    <%= f.input :end_date %>
    <%= f.input :course %>
    <%= f.input :collaborators %>
    <%= f.input :role %>
    <%= f.input :skills %>
    <%= f.input :type, :collection => Project::PROJECT_TYPES %>
    <%= f.input :work_id %>
    <%= f.input :image %>

    <div class="form-actions">
      <%= f.submit nil %>
      <%= link_to 'Cancel', projects_path, :class => 'btn' %>
    </div>
  </fieldset>
<% end %>