<div class="row">
  <%= image_tag @project.image.url(:medium) %>
  <%= image_tag @project.image.url(:medium) %>
  <%= image_tag @project.image.url(:medium) %>
</div>

<div class="row" style="padding-top: 20px;">
  <div class="show-main">
    <h1><%= @project.title %></h1>
    <p><%= @project.description %></p>
  </div>
  <div class="show-sidebar">
    <h5>:role</h5>
    <%= @project.role %>
    <h5>:course</h5>
    <%= @project.course %>
    <h5>:date</h5>
    <%= @project.start_date.strftime(format='%b %Y')+' - '+@project.end_date.strftime(format='%b %Y') %>
    <h5>:skills</h5>
    <%= @project.skills %>
    <h5>:collaborators</h5>
    <%= @project.collaborators %>
  </div>
</div>


<%= link_to 'Edit', edit_project_path(@project) %> |
<%= link_to 'Back', projects_path %>