<!DOCTYPE html>
<html>
<head>
  <title>Schanapp</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body class="body">
	<div class="container">
		<div class="nav">
			<div class="nav-logo">
			<h1 class="page-head"><%= link_to 'SHEILA CHAN', root_path %></h1>
		</div>
		<div class="nav-links">
			<%= link_to	":projects", projects_path, :class=>"nav-link" %>
			<%= link_to	":work_experience", works_path, :class=>"nav-link" %>
			<%= link_to	":attachments", attachments_path, :class=>"nav-link" %>
		</div>
	</div>
		<hr style="margin-top:0;">

		<%= yield %>

		<hr>
		<div class="contact_div">
		<%= link_to image_tag('email.png', :class => "contact_icon"), "mailto:sheilachan@cmu.edu" %>
		<%= link_to image_tag('facebook.png', :class => "contact_icon"), "https://www.facebook.com/sheila.chan.54" %>
		<%= link_to image_tag('linkedin.png', :class => "contact_icon"), "http://www.linkedin.com/pub/sheila-chan/50/677/75b" %>
		</div>

	</div>
</body>
</html>
